[Unit]
Description=Remote audio receiver daemon
Conflicts=remote-audio-transmitter.service
After=network.target

[Service]
ExecStart=/usr/local/bin/receiver
EnvironmentFile=/etc/remote-audio.conf
Restart=on-failure

[Install]
WantedBy=multi-user.target
